.Pokecard {
  height: auto;
  width: 50%;
  background-color: rgb(208, 208, 208);
  padding: 50px;
  margin: 25px 15px 25px 15px;
  display: grid;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
}

.Pokecard-name {
  font-size: 1.5rem;
  color: blue;
  margin-bottom: 100px;
}

.Pokecard-image {
  height: 200px;
}
